* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu Mono", monospace;
}

html {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #333233;
    padding: 0;
}

.line {
    position: absolute;
    width: 0px;
    margin: auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}
/*Animação*/
.anim-typewriter {
    animation: typewriter 10s steps(20) 500ms infinite,
        blinkTextCursor 500ms steps(20) infinite normal;
}
@keyframes typewriter {
    0% {
        width: 0px;
    }
    10% {
        width: 0px;
    }
    25% {
        width: 400px;
    }
    75% {
        width: 400px;
    }
    90% {
        width: 0px;
    }
    100% {
        width: 0px;
    }
}
@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}

.nav-content {
    width: 100%;
    background: #333233;
    display: flex;
    position: fixed;
    justify-content: center;
    gap: 50px;
    border-bottom: 1px solid #ccc;
    z-index: 1;
}

.nav-content div {
    flex: 2;
}

.name {
    display: flex;
    justify-content: start;
    align-items: center;
}

.links {
    display: flex;
    justify-content: end;
}

.about {
    width: 100%;
    height: 100%;
    background: #333233;
    overflow: hidden;
    color: #fff;
    padding: 10px;
    border-bottom: 1px solid;
}

.left-content {
    display: flex;
    justify-content: center;
}

.left-content img {
    max-width: 50%;
    height: 100%;
    border-radius: 20%;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 10px;
}

.about-content div {
    flex: 1;
}

.card-terminal {
    width: 300px;
    height: 254px;
    margin: 0 auto;
    background-color: #011522;
    border-radius: 8px;
    z-index: 1;
}

.tools {
    display: flex;
    align-items: center;
    padding: 9px;
}

.circle {
    padding: 0 4px;
}

.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}

.red {
    background-color: #ff605c;
}

.yellow {
    background-color: #ffbd44;
}

.green {
    background-color: #00ca4e;
}

#particles-js {
    height: 100%;
    background: #333233;
}

.imageBox {
    position: absolute;
    width: 150px;
}

.card {
    position: relative;
    width: 350px;
    height: 200px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.card:hover {
    height: 400px;
}

.imageBox {
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 25px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    transition: 0.5s;
}

.card:hover .imageBox {
    width: 250px;
    height: 250px;
}

.imageBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.card .content .details {
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(100px);
}

.card:hover .content .details {
    transform: translateY(0px);
}

.card .content .details h2 {
    font-size: 1.25em;
    font-weight: 600;
    color: #555;
    line-height: 1.2em;
}

.card .content .details h2 span {
    font-size: 0.75em;
    font-weight: 500;
    opacity: 0.5;
}

.card .content .details .data {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.card .content .details .data a {
    font-size: 2em;
    line-height: 1.2em;
    font-weight: 600;
    color: #555;
    opacity: 0.8;
}

.card .content .details .data a:hover {
    opacity: 1;
}

.container {
    display: flex;
    justify-content: center;
    align-item: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.nav-bar {
    position: relative;
    width: 100%;
    height: 40%;
    text-align: center;
    color: #fff;
    z-index: 3;
}

nav {
    padding: 10px;
    text-align: center;
    z-index: 3;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    display: inline-block;
    z-index: 3;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.btn2 {
    display: flex;
    top: 80%;
    left: 44%;
    position: absolute;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #fefefe;
    text-transform: uppercase;
    color: #fefefe;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    transition: 0.3s;
    margin-top: 20px;
    z-index: 0;
}

.btn2::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - -2px);
    background-color: #333233;
    transition: 0.3s ease-out;
    transform: scaleY(1);
}

.btn2::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 50px);
    background-color: #333233;
    transition: 0.3s ease-out;
    transform: scaleY(1);
}

.btn2:hover::before {
    transform: translateY(-25px);
    height: 0;
}

.btn2:hover::after {
    transform: scaleX(0);
    transition-delay: 0.15s;
}

.btn2:hover {
    color: #fefefe;
    border: 2px solid #fefefe;
}

.btn2 span {
    position: relative;
    z-index: 3;
}

button {
    text-decoration: none;
    border: none;
    background-color: transparent;
}

.info-button {
    display: flex;
    text-align: center;
}

.footer {
    background-color: #333233;
    color: #fff;
    text-align: center;
    font-weight: 500;
    padding: 2rem 0;
}

.footer__title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.footer__social {
    margin-bottom: 2rem;
}

.footer__icon {
    font-size: 1.5rem;
    color: #fff;
    margin: 0 1rem;
}

.footer__copy {
    font-size: 0.75rem;
}
