.skills {
    padding: 90px;
    background-color: #333233;
    width: 100%;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills-container .terminal-card {
    flex-basis: calc(24% - 40px);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-subtitle {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    color: #fff;
}

.terminal-card {
    width: 190px;
    height: 254px;
    margin: 0 auto;
    background-color: #011522;
    border-radius: 8px;
    z-index: 1;
}

.circle {
    padding: 0 4px;
}

.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease, opacity 0.2s ease;
}
.card-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    --size: 70px;
    background: #fff;
    width: var(--size);
    height: var(--size);
    border-radius: 25%;
    transition: transform 0.2s ease;
    margin-bottom: 1rem;
}

.card-avatar .icon {
    font-size: 40px;
}

.fa-html5 {
    color: #f16226;
}

.fa-css3 {
    color: #139bd4;
}

.fa-js {
    color: #f7e018;
}

.fa-bootstrap {
    color: #6b38b4;
}

.fa-php {
    color: #5e78b9;
}

.fa-laravel {
    color: #fa261b;
}

.fa-react {
    color: #6ed9f4;
}

.fa-git-alt {
    color: #ee5033;
}

.fa-node-js {
    color: #6ea86c;
}

.fa-docker {
    color: #0e93d7;
}

.card-title {
    color: #fff;
    font-size: 2.5em;
    font-weight: 600;
    line-height: 3rem;
}

.card-subtitle {
    color: #ccc;
    font-size: 0.8em;
}

.icon-images {
    width: 40px;
}
